html,body{
	margin: 0;
	height: 100%;
	font-family: sans-serif;
}

/* helper classes start */
.row{
	display: flex;
	
}
.col{
	display: inherit;
	flex-direction: column;
	flex: 1;
	margin-top: 20px;
}
.col-form{
	display: inherit;
	flex: 1;
	margin-top: 20px;
	justify-content: center;
}
.container{
	padding: 70px 80px;
}
.container-sides{
	display: inherit;
	justify-content: center;
	justify-content: space-evenly;
	width: 90%;
	margin:0 auto;
}
h1,h2,h3,h4,h5,h6{
 margin: 0;
}

 p{
	line-height: 1.5;
	letter-spacing: 0.5px;
}

.btn-primary{
	border: 1px red hidden ;
	padding: 5px 6px;
	color: white;
	background-color: crimson;
	outline: none;
	font-size: 19px;
	text-transform: capitalize;
	cursor: pointer;
}
.btn-primary:focus{
	background-color: rgb(224, 71, 44);
	cursor: pointer;
}
.btn-focus:hover{

	background-color: crimson;
	color: black;
	cursor: pointer;
}
.btn-focus:focus{
	background-color: tomato;
	outline: none;
	cursor: pointer;

}
.btn-primary:hover{
	background-color: rgb(243, 76, 110);
	color: rgb(255, 255, 255);
	cursor: pointer;
}
.btn-secondary{
	padding: 7px 15px;
	text-transform: uppercase;
	color: black;
		font-size: 17px;
		outline: none;
		border: 1px red hidden ;
		border-radius: 360px;
	background-color: rgb(241, 240, 240);
	cursor: pointer;
}
.btn-secondary:hover{
	background-color: crimson;
  color: white;
	cursor: pointer;
}
.btn-text{
	color: gray;
	outline: none;
	background-color: transparent;
	border: none;
	cursor: pointer;
	text-transform: capitalize;
	padding-left: 0;
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 1em;
}
.btn-text:hover{
	color: rgb(218, 58, 90);
}
a{
	text-decoration: none;
	vertical-align: bottom;
	color: white;
}

i:hover{
	color: rgb(195, 67, 92);
}
/* helper classes end */


 /* section one start  */
.sec1{
	background-image: url(../images/laptop2.jpg), linear-gradient( rgba(0,0,0.5,0.5),rgba(0,0,0.5,0.5));
	background-blend-mode: overlay;
	background-size:cover;
	color: white;
	padding: 10px;
	height: 94.6%;
}

/* section one end  */
 
/*  navbar start */
.sec1 .navbar1 ul{
	display: flex;
	list-style: none;	
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 10px;
	margin: 0 auto;
	padding-left: 0;
	
	
}
.sec1 .navbar1 ul li{
	justify-content: space-evenly;
	text-decoration: none;
	color: white;
}
	.sec1 .navbar1 ul li:hover{
color: crimson;
	}
.sec1 .navbar1 .flex1{
	flex-basis: 25%;
	justify-self: flex-start;
	font-size: 30px;
	font-weight: 600;
	text-decoration: none;
}
.sec1 .navbar1 .flex1:hover{
	color: rgb(214, 103, 125);
}
.sec1 .navbar1 .flex2{
	justify-self: flex-end;
	font-size: 20px ;
	align-self: center;
	margin-top: 7px;
	
}
@media(max-width:820px){
	
	.sec1 .navbar1 .flex1{
		display: none;
	}

}
/*  navbar end */

/* first section content start */
.sector1{
	display: flex;
	flex-direction: column;
	justify-content:center;
	text-align: center;
	height: 90%;
}
.sector1 h3{
	font-size: 33px;
}
.sector1 h2{
	font-size: 37px;
}
.sector1 button{
	text-decoration: none;
	color: white;
	background: transparent;
	border: 2.5px white solid;
	padding: 8px;
	border-radius: 360px;
	margin-top: 0.5rem;
	font-size: 20px;
}
.sector1 button a{
	color: white;
}

.sector1 i{
	
	border: 2px white solid;
	padding: 5px 3px;
	font-size: 17px;
	border-radius: 360px;
	margin-top: 1rem;
	
}
.sectior1 i:hover{
	color: rgb(195, 67, 92);
}
/* first section content end */
/* about me start */
#about-me .row .col{
	margin: 0 15px;
}
#about-me .aboutme-content h2{
	font-size: 37px;
	margin-bottom: 15px;
	
}
#about-me .aboutme-content h4{
	 font-size: 23px;
}
#about-me .aboutme-content p{
	 color: gray;
}
#about-me .aboutme-content .social-icons ul {
    padding: 0px;
    list-style-type: none;
    display: flex;
		margin: 0 auto;
}
#about-me .aboutme-content .social-icons ul li i{
	
	/* line-height: 25px; */
	margin-right: 25px;
	font-size: 28px;
	font-weight: 600;
	color:rgb(31, 29, 29);
	width: 26px;

}
#about-me .aboutme-content .social-icons ul li .fa-facebook{
	color: rgb(113, 113, 240);
}
#about-me .aboutme-content .social-icons ul li .fa-facebook:hover{
	color: rgb(72, 72, 236);
}
#about-me .aboutme-content .social-icons ul li .fa-instagram{
 color: rgb(211, 63, 63);
}
#about-me .aboutme-content .social-icons ul li .fa-instagram:hover{
 color: rgb(255, 62, 62);
}
#about-me .aboutme-content .social-icons ul li .fa-linkedin{
 color: rgb(59, 59, 179);
}
#about-me .aboutme-content .social-icons ul li .fa-linkedin:hover{
 color: rgb(107, 107, 200);
}
#about-me .aboutme-content .social-icons ul li .fa-twitter{
 color: steelblue;
}
#about-me .aboutme-content .social-icons ul li .fa-twitter:hover{
 color: rgb(26, 143, 238);
}

@media(max-width: 992px){
	#about-me .container .row{
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	#about-me .container .row .img-outer img{
		width: 100%;
	}
	#about-me .container .social-icons i{
   margin-left: 15px;
	}
	
}
/* about me end */
/* about hover start */
.boxes{
    font-family: 'Merriweather Sans', sans-serif;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all .5s;
}
.boxes:hover{ box-shadow: 3px 3px 5px #999; }
.boxes:before,
.boxes:after{
    content: "";
    background: radial-gradient(circle at 23% 60%,rgb(146, 62, 79),rgb(218, 37, 73) 40%);
    width: 150%;
    height: 150%;
    opacity: 0;
    transform: rotate(45deg);
    position: absolute;
    top:-10.5%;
    right:-150%;
    z-index: 1;
    transition: all 0.35s ease;
}
.boxes:after{
    background: rgb(177, 37, 65);
    width: 65%;
    height: 65%;
    right: auto;
    left: -20%;
    top: -65%;
}
.boxes:hover:before{
    opacity: 0.6;
    right: -85%;
}
.boxes:hover:after{
    opacity: 1;
    top: -42%;
}
.boxes img{
    width: 100%;
    height: auto;
    transition: all 0.5s ease;
}
.boxes:hover img{ transform: scale(1.2); }
.boxes .box-content{
    text-align: right;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: -100%;
    z-index: 2;
    transition: all .5s;
}
.boxes:hover .box-content{ right: 5%; }
.boxes .title{
    color: #dddddd;
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 3px 0;
}
.boxes .post{
	color: #dddddd;
    font-size: 16px;
    text-transform: capitalize;
    margin: 0 0 10px;
    display: block;
}
.boxes .icon{
    padding: 0;
    margin: 0;
    list-style: none;
}
.boxes .icon li{
    display: inline-block;
    margin: 0 4px;
}
.boxes .icon li a{
    color: #fff;
    background-color: #1e272e;
    font-size: 18px;
    text-align: center;
    line-height: 35px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: block;
    transition: all 0.3s;
}
.boxes .icon li  a:hover{
    color: crimson;
    background-color: #fff;
    border-radius: 10%;
    box-shadow: 0 0 5px #1e272e inset;
}
@media only screen and (max-width:990px){
    .boxes { margin: 0 0 30px; }
}
@media only screen and (max-width:479px){
    .boxes .title{ font-size: 20px; }
}
/* about hover end */
/* our services start */
#our-services-sec{
	background-color: rgb(251, 249, 245);
}
#our-services-sec .our-services{
 width: 80%;
 justify-content: center;
 margin: 0 auto;
 text-align: center;
}
#our-services-sec .our-services h2{
	text-transform: uppercase;
	font-size: 37px;
	font-weight: 500;
}
#our-services-sec .our-services p{
 color: rgb(85, 85, 85);
}
 #our-services-sec .box-container .service-box{
	 margin: 0 auto;
	 width: 80%; 
	 border: 2px rgb(231, 231, 231) solid;
	 padding: 25px;  
	 text-align: center;
	}
	#our-services-sec .box-container .service-box i{
   font-size: 50px;
	 color: crimson;
	 font-weight: 600;
	 margin-bottom: 10px;
	}
	#our-services-sec .box-container .service-box hr{
		width: 15%;
		border: 1px crimson solid;
	}
	#our-services-sec .box-container .service-box p{
    color: rgb(85, 85, 85);
	}
@media(max-width: 992px){
		#our-services-sec .row{
			flex-direction: column;
			width: 80%;
			margin: 0 auto;
		}
		#our-services-sec .our-services{
 width: 100%;
}
		
}
/* our services end */
/* hire section start */

#hire .col{
	margin: 0 auto;
	text-align: center;
	text-transform: capitalize;
}
#hire .col h2{
	margin-bottom: 15px;
font-size: 37px;
	font-weight: 500;
}

/* hire section end */
/* section clients start */
.clients{
	background-image: url(../images/sec3bg.jpg);
}
.clients .row .client-content{
	display: inherit;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
.clients .row .client-content h2{
margin-bottom: 10px;
text-transform: uppercase;
font-weight: 500;
font-size: 37px;

}
.clients .row .client-content img{
width: 80px;
margin: 0 auto;
margin-top: 15px;
}
.clients .row .client-content .sec3para {
	color: gray;
}
.clients .row .client-content h5 {
	font-size: 15px;
}
.clients .row .client-content .sec3-icons i  {
	font-size: 10px;
	margin: 10px 3px;
	color: crimson;
}

/* section clients end */
/* section work start */
#work .box {
	
	margin: 0 auto;
	
}

#work .work-head{
	margin: 0 auto;
	text-align: center;
	width: 50%;
}
#work .work-head h2{
	text-transform: uppercase;
	font-size: 37px;
	font-weight: 500;

}
#work .work-btns {
	display: inherit;
	flex-direction: row;
	margin: 0 auto;
	flex-wrap: wrap;
	
}
#work .work-btns a{
 color: black;
}
#work .work-btns a:hover{
 color: rgb(255, 255, 255);
}
#work .work-btns button {
 margin: 10px 10px;
 flex: 1;
}
/* section work end */
/* section work hover start */
.box{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    position: relative;
}
.box:before,
.box:after{
    content: "";
    background: #e26666;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100%;
    transition: all 0.35s 0s ease-out;
}
.box:hover:before{ bottom: 0; }
.box:after{
    opacity: 0.8;
    bottom: 0;
    top: 100%;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transition: all 0.35s 0.2s ease-in;
}
.box:hover:after{ top: 25%; }
.box img{
    width: 100%;
    height: auto;
}
.box .box-content{
    color: #fff;
    text-align: center;
    width: 80%;
    opacity: 0;
    transform: translateX(-50%) translateY(-55%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transition: all 0.35s 0.5s ease;
}
.box:hover .box-content{
    opacity: 1;
    transform: translateX(-50%) translateY(-40%);
}
.box .title{
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 0;
}
.box .title:after{
    content: '';
    height: 1px;
    width: 100px;
    margin: 5px auto 3px;
    border-bottom: 1px dashed #fff;
    display: block;
    clear: both;
}
.box .post{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.box .icon{
    padding: 0;
    margin: 0;
    list-style: none;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    bottom: 10px;
    z-index: 2;
}
.box .icon li{
    margin: 0 3px;
    display: inline-block;
    opacity: 0;
    transition: all 0.4s ease 0.5s;
}
.box .icon li:nth-child(2){ transition-delay: 0.7s; }
.box:hover .icon li{ opacity: 1; }
.box .icon li a{
    color: #333;
    background-color: #fff;
    font-size: 13px;
    text-align: center;
    line-height: 31px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: block;
    transition: all 0.3s ease 0s;
}
.box .icon li a:hover{ box-shadow: 3px 3px rgba(255,255,255,0.5);
color: crimson; }

@media(max-width: 992px){
		#work .row{
			display: flex;
			flex-direction: column;
			margin: 0 auto;
		}
		#work .work-head{

	width: 100%;
}
.clients .row .client-content{
	width: 100%;	
}
}
/* section work hover end */

/* blog sec start */
#blog{
	background-color: rgb(241, 239, 239);
}
#blog .container .row .col .work-head{
	margin: 0 auto;
	text-align: center;
	width: 50%;
}
#blog .container .row .col .work-head h2{
	text-transform: uppercase;
	font-size: 37px;
	font-weight: 500;
}
#blog .container .row .col .work-head p{
	color:gray
}

#blog .container .row .col .card{
	border: 2px black hidden;
	border-radius: 10px;
	width: 80%;
	width: 80%;
	margin: 0 auto;
	background-color: white;
}
#blog .container .row .col .card img{
	width: 100%;
}
#blog .container .row .col .card .card-content{
	padding: 10px;
	color: rgb(46, 46, 46);
}
#blog .container .row .col .card .card-content span{
	color: crimson;
}
@media (max-width: 992px){
		#blog .row{
			display: flex;
			flex-direction: column;
			margin: 0 auto;
		}
		#blog .container .row .col .work-head{
	width: 100%;
}
}

/* blog sec end */
/* blog hover star */
#blog .card .boxs{
    background: #000;
    font-family: 'Sora', sans-serif;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease-in;
}
#blog .card .boxs:hover{ box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.4); }
#blog .card .boxs:before{
    content: "";
    background: linear-gradient(-225deg, #fb4563 50%, #fb4563 100%);
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: rotate3d(0,0,1,45deg);
    transform-origin: 0 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.4s ease-out 0s;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}
#blog .card .boxs:hover:before{
    opacity: 0.8;
    transform: rotate3d(0,0,1,15deg);
}
#blog .card .boxs img{
    width: 100%;
    height: auto;
    transform: scale(1.1) translateY(4%);
    transition: all 0.4s ease-in;
}
#blog .card .boxs:hover img{
    opacity: 0.4;
    transform: scale(1.1) translateY(-4%);
}
#blog .card .boxs .box-content{
    color: #fff;
    width: 100%;
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: all 0.4s ease-out;
}
#blog .card .boxs:hover .box-content{
    opacity: 1;
    top: 30px;
}
#blog .card .boxs .title{
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 0 2px;
}
#blog .card .boxs .post{
    color: #fbfbfb;
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
    text-transform: capitalize;
    display: block;
}
#blog .card .boxs .icon{
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    position: absolute;
    bottom: -50px;
    right: 10px;
    z-index: 2;
    transition: all 0.4s ease-in;
}
#blog .card .boxs:hover .icon{
    opacity: 1;
    bottom: 10px;
}
#blog .card .boxs .icon li{
    display: inline-block;
    margin: 0 4px;
}
#blog .card .boxs .icon li a{
    color: #222;
    background: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 32px;
    height: 30px;
    width: 30px;
    display: block;
    transition: all 0.3s ease 0s;
}
#blog .card .boxs .icon li a:hover{
    border-radius: 15px 0;
    box-shadow: 0 0 10px #999 inset;
		color: crimson;
}
/* @media only screen and (max-width:990px){
    #blog .card .box { margin: 0 0 30px; }
} */

/* blog hover end */

/* contact sec start */
#contact .work-head{
	margin: 0 auto;
	text-align: center;
	width: 50%;
}
#contact .work-head h2{
	text-transform: uppercase;
	font-size: 37px;
	font-weight: 500;
}
#contact .work-head p{
	color: rgb(83, 83, 83);
}
#contact .contact-details{
	margin:  0 auto;
	text-align: center;
	flex: 1;
}
#contact .contact-details i{
	font-size: 40px;
  color: rgb(255, 77, 112);
	margin-bottom: 10px;
}
#contact .contact-details h2{
	text-transform: capitalize;
	font-weight: 500;
	font-size: 25px;
}
#contact .contact-details a{
	color: black;
}
#contact .contact-details p{
	margin-top:7px ;
}
#contact .row form {
	width: 90%;
	margin: 0 auto;
}
#contact .row .input-50 {
	width: 45.10%;
	padding: 10px 10px ;
	margin: 10px;
	font-size: 17px;
}
#contact .row .input-50:focus {
	outline: none;
}
#contact .row .input-100 {
	width: 94.6%;
	padding: 10px 10px;
	margin: 10px;
	font-size: 17px;
	flex: 1;
}
#contact .row .input-100:focus {
	outline: none;
}
#contact .row .input-txt-100 {
	width: 94.8%;
	padding: 10px 10px;
	margin: 10px;
	font-size: 17px;
}
#contact .row .input-txt-100:focus {
	outline: none;
}
#contact .row .col-form {
	
	align-self: flex-end;
}
#contact .row .col-form a:hover {
	color: black;
}

@media(max-width: 1225px){

	#contact .row .input-50{
		width: 94.5%;
	}
	#contact .work-head{
	width: 100%;
}
}

@media(max-width: 805px){
	#contact .row{
		flex-direction:column;
	}
		#contact .contact-details {
			margin-top: 30px;
	}

}
/* contact sec end */

/* footer section start  */
#footer{
	background-color: rgb(49, 49, 49);
}

#footer .container .col{
	flex-direction: row;
}
#footer .container .col .footer-icons{
	margin: 0 auto;
}

#footer .container a{
	color: rgb(190, 190, 190);
	
}
#footer .container i{
	margin: 10px;
	font-size: 25px;
	border: 1px black hidden;
	border-radius: 360px;
	padding: 10px;
	background-color: rgb(85, 84, 84);
	text-align: center;
	
}
#footer .container .fa-facebook:hover{
 color: rgb(83, 83, 221);
}
#footer .container .fa-instagram:hover{
 color: rgb(211, 63, 63);
}
#footer .container .fa-twitter:hover{
	
	color: steelblue;
}
#footer .container .fa-linkedin:hover{
	color: rgb(91, 91, 197);
 
}
#footer .container p{
	margin: 0 auto;
	color: gray;
	margin-top: 0;

}
/* footer section end  */
